#container{
    position: absolute;
    margin:auto;
    width: 650px;
    height:480px;
   background-color: white;
}

#background{
    position:absolute;
    width:450px;
    height: 380px;
    left:100px;
    right: 100px;
    top:50px;
    background-color: burlywood;
    background-image: url("../img/resized_background.png");
}

#hat{
    position:absolute;
    width:450px;
    height: 380px;

}

#body{
    position:absolute;
    width:450px;
    height: 380px;
    background-image: url("../paperdolls/img/body.png");

}

#dress{
    position:absolute;
    width:450px;
    height: 380px; 
    background-image: url("img\body.png");
}

.dress1{
    position:absolute;
    width:450px;
    height: 380px;
    background-image: url(../img/dress0000.png);
}

.dress2{
    position:absolute;
    width:450px;
    height: 380px;
    background-image: url(../img/dress0001.png);
}

.dress3{
    position:absolute;
    width:450px;
    height: 380px;
    background-image: url(../img/dress0002.png);
}


.hat1{
    
    position:absolute;
    width:555px;
    height:987px;
    background-image: url(../img/hairfront1.png);
}

.hat2{
    
    position:absolute;
    width:555px;
    height:987px;
    background-image: url(../img/hairfront2.png);
}

.hat3{
    
    position:absolute;
    width:555px;
    height:987px;
    background-image: url(../img/hairfront3.png);
}

/*#nextbackground{
    position:absolute;
    right:-80px;
    top:150px;
}

#nexthat{
    position:absolute;
    right: -80px;
    top:100px;
}

#nextdress{
    position:absolute;
    right:-80px;
    top:200px;
}

#prevhair{
    position:absolute;
    left:-80px;
    top:300px;
}

#prevdress{
    position:absolute;
    left:50px;
    top:300px;
}

#prevshoe{
    position:absolute;
    left:50px;
    top:750px;
}
*/