body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    font-weight: 500;
    text-align: center;
}

/*
input[type=button]{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: aliceblue;
}
*/

#controls{
    position: absolute;
    margin:auto;
    padding-left: 30%;
    padding-top: 2%;
}

#container{
    margin:auto;
    width: 650px;
    height:480px;
    background-color: aliceblue;
}

#background{
    position: absolute;
    background-color: lightgrey;
    background-size: 100% auto;
    width: 450px;
    height: 380px;
    display: block;
    margin-left: 100px;
    margin-top:50px;
    margin-right:100px;
    margin-bottom:50px;
}

#man{       
    position:absolute;
    width:450px;
    height: 380px;
    background-image: url("body.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#dress{
    position:absolute;
    width:450px;
    height: 380px; 
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#hat{
    position:absolute;
    width:450px;
    height: 380px;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.dress0{
    background-image: url("body.png");
}

.dress1{
    background-image: url("doll1.png");
}

.dress2{
    background-image: url("doll2.png");
}

.dress3{
    background-image: url("doll3.png");
}

.dress4{
    background-image: url("doll4.png");
}

.dress5{
    background-image: url("doll5.png");
}

.dress6{
    background-image: url("doll6.png");
}

.dress7{
    background-image: url("doll7.png");
}

.dress8{
    background-image: url("doll8.png");
}

.dress9{
    background-image: url("doll9.png");
}

.dress10{
    background-image: url("doll10.png");
}

.dress11{
    background-image: url("doll11.png");
}
.dress12{
    background-image: url("doll12.png");
}
.dress13{
    background-image: url("doll13.png");
}
.dress14{
    background-image: url("doll14.png");
}
.dress15{
    background-image: url("doll15.png");
}
.dress16{
    background-image: url("doll16.png");
}
.dress17{
    background-image: url("doll17.png");
}
.dress18{
    background-image: url("doll18.png");
}
.dress19{
    background-image: url("doll19.png");
}
.dress20{
    background-image: url("doll20.png");
}
.dress21{
    background-image: url("doll21.png");
}
.dress22{
    background-image: url("doll22.png");
}
.dress23{
    background-image: url("doll23.png");
}
.dress24{
    background-image: url("doll24.png");
}
.dress25{
    background-image: url("doll25.png");
}
.dress26{
    background-image: url("doll26.png");
}
.dress27{
    background-image: url("doll27.png");
}
.dress28{
    background-image: url("doll28.png");
}
.dress29{
    background-image: url("doll29.png");
}
.dress30{
    background-image: url("doll30.png");
}
.dress31{
    background-image: url("doll31.png");
}
.dress32{
    background-image: url("doll32.png");
}
.dress33{
    background-image: url("doll33.png");
}
.dress34{
    background-image: url("doll34.png");
}
.dress35{
    background-image: url("doll35.png");
}
.dress36{
    background-image: url("doll36.png");
}
.dress37{
    background-image: url("doll37.png");
}
.dress38{
    background-image: url("doll38.png");
}

.hat1{
    
    position:center;
    width:555px;
    height:987px;
    background-image: url(../img/hairfront1.png);
}

.hat2{
    
    position:center;
    width:555px;
    height:987px;
    background-image: url(../img/hairfront2.png);
}

.hat3{
    
    position:center;
    width:555px;
    height:987px;
    background-image: url(../img/hairfront3.png);
}

/*#nextbackground{
    position:center;
    right:-80px;
    top:150px;
}

#nexthat{
    position:center;
    right: -80px;
    top:100px;
}

#nextdress{
    position:center;
    right:-80px;
    top:200px;
}

#prevhair{
    position:center;
    left:-80px;
    top:300px;
}

#prevdress{
    position:center;
    left:50px;
    top:300px;
}

#prevshoe{
    position:center;
    left:50px;
    top:750px;
}
*/